<!-- <div class="container">
  <form #resetPasswordForm="ngForm" (ngSubmit)=" onSubmit(resetPasswordForm)">
    <p style="color:red;">{{message}}</p>
    <div class="col-md-6">
      <label for="password">New Password</label>
      <input type="password" class="form-control" id="newPassword" [(ngModel)]="model.newPassword" name="newPassword" required
        #passwd="ngModel">
      <div *ngIf="!passwd?.valid && (passwd?.dirty ||passwd?.touched)" class="alert alert-danger">
        <div [hidden]="!passwd.errors.required">
          Password is needed to be provided
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="password">Confrom Password</label>
      <input type="password" class="form-control" id="confromPassword" [(ngModel)]="model.confromPassword" name="confromPassword"
        required #passwod="ngModel">
      <div *ngIf="!passwod?.valid && (passwod?.dirty ||passwod?.touched)" class="alert alert-danger">
        <div [hidden]="!passwod.errors.required">
          Password is needed to be provided
        </div>
      </div>
    </div>
    <br>
    <div>
      <button type="submit" class="btn btn-primary" [disabled]="!resetPasswordForm.form.valid">Submit</button>
    </div>
  </form>
</div> -->



<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!--
    you can substitue the span of reauth email for a input with the email and
    include the remember me checkbox
    -->
<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
   
    <img id="profile-img" class="profile-img-card"  src="/assets/images/icon.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" #resetPasswordForm="ngForm" (ngSubmit)=" onSubmit(resetPasswordForm)">
        <p style="color:red;">{{message}}</p> 
      <span id="reauth-email" class="reauth-email"></span>
      <input type="password" class="form-control" id="newPassword" [(ngModel)]="model.newPassword" name="newPassword" required
        #passwd="ngModel" placeholder="New Password">
      <div *ngIf="!passwd?.valid && (passwd?.dirty ||passwd?.touched)" class="alert alert-danger">
        <div [hidden]="!passwd.errors.required">
          Password is needed to be provided
        </div>
      </div>
      <input type="password" class="form-control" id="confromPassword" [(ngModel)]="model.confromPassword" name="confromPassword"
        required #passwod="ngModel" placeholder="Confrom Password">
      <div *ngIf="!passwod?.valid && (passwod?.dirty ||passwod?.touched)" class="alert alert-danger">
        <div [hidden]="!passwod.errors.required">
          Password is needed to be provided
        </div>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!resetPasswordForm.form.valid">Submit</button>
    
    </form>
    <!-- /form -->
   
    
  </div>
  <!-- /card-container -->
</div>
<!-- /container -->